{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<h1 style="margin-top:30px;margin-bottom:30px; text-align: center;">Events in Vienna</h1>

<div class="container d-flex justify-content-center">
        <div class="row row-cols-1 row-cols-lg-5 gap-3 d-flex justify-content-center">
            {% for event in events %}
            <div class="card animate__animated animate__backInLeft mt-4 mb-4 shadow-lg p-3 mb-5 bg-body rounded border border-danger border-start-0" style="width: 25rem;">
              {# <img src="{{ asset('pictures/'~ event.image)}}" #}
                <img src="{{event.image}}" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title">{{ event.name }}</h5>
                  <p class="card-text">{{ event.description }}</p>
                  <div style="margin-right:20px;" class="text-center">
                    <a style="margin-right:20px;" class="btn btn-outline-danger" 
                    href="{{ path('app_events_show', {'id': event.id}) }}">Details</a>
                  <a class="btn btn-outline-danger" href="{{ path('app_events_edit', {'id': event.id}) }}">Edit</a>
                </div>
                </div>
              </div>
        {% endfor %}
        </div>
    </div>
    

{% endblock %}
