{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <h1 style="margin-top:30px;margin-bottom:30px; text-align: center;">Events</h1>
    <div class="container d-flex justify-content-center">
        <div class="card animate__animated animate__backInRight mb-5 shadow-lg p-3 mb-5 bg-body rounded border border-danger border-start-0" style="width: 30rem;">
            <img src="{{ event.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ event.name }}</h5>
              <p class="card-text">{{ event.description }}</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>Event id: </strong> {{ event.id }}</li>
              <li class="list-group-item"><strong>Date: </strong> {{ event.date ? event.date|date('Y-m-d') : '' }}</li>
              <li class="list-group-item"><strong>Time: </strong>{{ event.time ? event.time|date('H:i:s') : '' }}</li>
              <li class="list-group-item"><strong>Capcity: </strong> {{ event.capacity }} people</li>
              <li class="list-group-item"><strong>E-Mail:</strong> {{ event.email }}</li>
              <li class="list-group-item"><strong>Phone Number: </strong> {{ event.pnumber }}</li>
              <li class="list-group-item"><strong>Address: </strong> {{ event.address }}</li>
              <li class="list-group-item"><strong>URL of the event: </strong> {{ event.url }}</li>
              <li class="list-group-item"><strong>Type: </strong> {{ event.type }}</li>
            </ul>
            <div class="card-body d-flex justify-content-center">
           <a style="margin-right:20px;" class="btn btn-outline-danger mb-3" href="{{ path('app_events_edit', {'id': event.id}) }}">Edit</a>
           {{ include('events/_delete_form.html.twig') }}
            </div>
          </div>
    </div>
           



{% endblock %}
